<nav class="navbar navbar-expand-lg navbar-dark custom-navbar px-3 py-2 shadow-sm">
  <a class="navbar-brand fw-bold fs-4" href="#">MediSphere</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- Left-aligned Nav Items -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="roleName === 'HOSPITAL'">
        <a class="nav-link" [routerLink]="['/createhospital']">Create Hospital</a>
      </li>
      <li class="nav-item" *ngIf="roleName === 'HOSPITAL'">
        <a class="nav-link" [routerLink]="['/requestequipment']">Request Equipment</a>
      </li>
      <li class="nav-item" *ngIf="roleName === 'HOSPITAL'">
        <a class="nav-link" [routerLink]="['/schedule-maintenance']">Schedule Maintenance</a>
      </li>
      <li class="nav-item" *ngIf="roleName === 'TECHNICIAN'">
        <a class="nav-link" [routerLink]="['/maintenance']">Maintenance Report</a>
      </li>
      <li class="nav-item" *ngIf="roleName === 'SUPPLIER'">
        <a class="nav-link" [routerLink]="['/orders']">Order Requests</a>
      </li>
      <li class="nav-item" *ngIf="!IsLoggin">
        <a class="nav-link" [routerLink]="['/about']">About Us</a>
      </li>
      <li class="nav-item" *ngIf="!IsLoggin">
        <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
      </li>
    </ul>

    <!-- Right-aligned Nav Items -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="!IsLoggin">
        <a class="btn btn-outline-light me-2" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="!IsLoggin">
        <a class="btn btn-warning text-dark" [routerLink]="['/registration']">Register</a>
      </li>
      <li class="nav-item" *ngIf="IsLoggin">
        <a class="btn btn-danger ms-2" (click)="logout()" [routerLink]="['/homepage']">Logout</a>
      </li>
    </ul>
  </div>
</nav>
