<div class="d-flex justify-content-between mt-4">
    <h2 class="mb-0">Schedule Maintenance</h2>
  </div>
  <div class="row mt-3" class="container mt-4 mx-5">
    <div class="card">
      <div class="card-header text-center">Schedule Maintenance of Equipment</div>
      <div class="card-body">
        <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="content" class="form-label">Hospital</label>
                <select name="hospitalId" class="form-control" id="hospitalId" formControlName="hospitalId"
                  (change)="onHospitalSelect($event)">
                  <option value="null">Please Choose</option>
                  <option *ngFor="let hos of hospitalList" [value]="hos.id">
                    {{ hos.name }}
                  </option>
                </select>
                <div *ngIf="
                      itemForm.controls['hospitalId'].invalid &&
                      (itemForm.controls['hospitalId'].dirty ||
                        itemForm.controls['hospitalId'].touched)
                    " class="ng-dirty">
                  <span *ngIf="itemForm.controls['hospitalId'].errors" class="text-danger">Please choose hospital.</span>
                </div>
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">Equipment</label>
                <select name="equipmentId" class="form-control" id="equipmentId" formControlName="equipmentId">
                  <option value="null">Please Choose</option>
                  <option *ngFor="let eq of equipmentList" [value]="eq.id">
                    {{ eq.name }}
                  </option>
                </select>
                <div *ngIf="
                      itemForm.controls['equipmentId'].invalid &&
                      (itemForm.controls['equipmentId'].dirty ||
                        itemForm.controls['equipmentId'].touched)
                    " class="ng-dirty">
                  <span *ngIf="itemForm.controls['equipmentId'].errors" class="text-danger">Please choose
                    Equipment.</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="content" class="form-label">Scheduled Date</label>
                    <input type="date" name="scheduledDate" formControlName="scheduledDate" class="form-control"
                      id="scheduledDate" placeholder="Scheduled Date" />
                    <div *ngIf="
                          itemForm.controls['scheduledDate'].invalid &&
                          (itemForm.controls['scheduledDate'].dirty ||
                            itemForm.controls['scheduledDate'].touched)
                        " class="ng-dirty">
                      <span *ngIf="itemForm.controls['scheduledDate'].errors" class="text-danger">Please Enter Valid
                        Scheduled Date.</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="completedDate" class="form-label">Deadline</label>
                    <input type="date" name="completedDate" formControlName="completedDate" class="form-control"
                      id="completedDate" placeholder="Completed Date" />
                    <div *ngIf="
                          itemForm.controls['completedDate'].invalid &&
                          (itemForm.controls['completedDate'].dirty ||
                            itemForm.controls['completedDate'].touched)
                        " class="ng-dirty">
                      <span *ngIf="itemForm.controls['completedDate'].errors" class="text-danger">Please Enter Valid
                        Completed Date.</span>
                    </div>
                  </div>
                </div>
                <div  *ngIf="itemForm.errors?.['invalidDateRangeCheck'] && (itemForm.get('scheduledDate')?.['touched'] || itemForm.get('completedDate')?.['touched'] ) " class="text-danger">
  
                  Schedule Date must be Greater than Deadline
              </div>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="description" formControlName="description" class="form-control" id="description"
                  placeholder="Description" />
                <div *ngIf="
                      itemForm.controls['description'].invalid &&
                      (itemForm.controls['description'].dirty ||
                        itemForm.controls['description'].touched)
                    " class="ng-dirty">
                  <span *ngIf="itemForm.controls['description'].errors" class="text-danger">Please Enter
                    Description.</span>
                </div>
              </div>
              <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-control" name="status" id="status" formControlName="status">
                  <option value="">Choose Status</option>
                  <option value="Initiated">Initiated</option>
                  <!-- <option value="Complete">Complete</option> -->
                </select>
                <div *ngIf="
                      itemForm.controls['status'].invalid &&
                      (itemForm.controls['status'].dirty ||
                        itemForm.controls['status'].touched)
                    " class="ng-dirty">
                  <span *ngIf="itemForm.controls['status'].errors" class="text-danger">Please choose status.</span>
                </div>
              </div>
              <div class="d-grid">
                <button class="btn btn-outline-dark mt-1" type="submit" [disabled]="itemForm.invalid">
                  Submit
                </button>
              </div>
              <div class="d-grid">
                <button class="btn btn-outline-dark mt-1" type="button" (click)="showSatus()">
                  Show Status
                </button>
              </div>
              <div *ngIf="showMessage" class="alert alert-success mt-4" role="alert">
                {{ responseMessage }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-between mt-4" *ngIf="isClick">
    <h2 class="mb-1" class="text-center">Manage Maintenance</h2>
  </div>
  <div class="row mt-3" class="container mt-4 mx-5" *ngIf="isClick">
    <div class="card">
      <div class="card-header">Maintenance Information</div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Maintenance ID</th>
              <th>Scheduled Date</th>
              <th>Deadline</th>
              <th>Status</th>
              <th>Equipment</th>
              <th>Hospital</th>
            </tr>
          </thead>
          <tbody *ngFor="let Maintenancef of maintenanceList">
            <tr>
              <td>{{ Maintenancef.id }}</td>
              <td>{{ Maintenancef.scheduledDate | date : "dd-MMM-yyyy" }}</td>
              <td>{{ Maintenancef.completedDate | date : "dd-MMM-yyyy" }}</td>
              <td id="status" [ngStyle]="getStatusStyle(Maintenancef.status)">
                <strong>{{ Maintenancef.status }}</strong>
              </td>
              <td>
                <p>Id:{{ Maintenancef.equipment.id }}</p>
                <p>Name:{{ Maintenancef.equipment.name }}</p>
                <p>Description:{{ Maintenancef.equipment.description }}</p>
              </td>
              <td>
                <p>Id:{{ Maintenancef.equipment.hospital.id }}</p>
                <p>Name:{{ Maintenancef.equipment.hospital.name }}</p>
                <p>Location:{{ Maintenancef.equipment.hospital.location }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>