<div class="order-wrapper">
<div class="container mt-4">
  <div class="row">
    <!-- <h2 class="mb-4 text-center">Manage Orders</h2> -->
     <h2 class="section-heading">Manage Orders</h2>


    <div *ngFor="let val of orderList" class="col-md-6 col-lg-4 mb-4">
      <div class="card order-card shadow-sm">
        <div class="card-header">
          <strong>Order #{{ val.id }}</strong>
          <span class="badge float-end" [ngStyle]="getStatusStyle(val.status)">
            {{ val.status }}
          </span>
          
        </div>
        <div class="card-body">
          <p><strong>Order Date:</strong> {{ val.orderDate | date: "dd-MMM-yyyy" }}</p>
          <p><strong>Quantity:</strong> {{ val.quantity }}</p>
          <hr>
          <p><strong>Equipment:</strong></p>
          <ul class="ps-3 mb-2">
            <li>ID: {{ val.equipment.id }}</li>
            <li>Name: {{ val.equipment.name }}</li>
            <li>Description: {{ val.equipment.description }}</li>
          </ul>
          <p><strong>Hospital:</strong></p>
          <ul class="ps-3 mb-2">
            <li>ID: {{ val.equipment.hospital.id }}</li>
            <li>Name: {{ val.equipment.hospital.name }}</li>
            <li>Location: {{ val.equipment.hospital.location }}</li>
          </ul>

          <div class="d-flex justify-content-between mt-3">
            <!-- <button
              class="btn btn-sm btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#driverModal"
              (click)="edit(val)"
              [disabled]="val.status === 'Delivered'">
              <i class="bi bi-pencil-square"></i> Update
            </button> -->
            <!-- Update to In Transit -->
            <button class="btn btn-sm btn-primary" (click)="updateOrderStatus('In Transit', val.id)"
              [disabled]="val.status === 'Delivered'">
              <i class="bi bi-pencil-square"></i> Mark In Transit
            </button>

            <!-- Update to Delivered -->
            <button class="btn btn-sm btn-success ms-2" (click)="updateOrderStatus('Delivered', val.id)"
              [disabled]="val.status === 'Delivered'">
              <i class="bi bi-truck"></i> Mark Delivered
            </button>
            <button class="btn btn-sm btn-danger" (click)="delete(val.id)">
              <i class="bi bi-trash"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>